<html>
<head>
  <script> src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js></script>

  <script src="css/loaders.css.js"></script>
  <title> Dinder - Met your date nearby </title>
  <style>
  body{
    background:#f87777;
  }
  .loader
  {
    position: fixed;
    top : 50%;
    left:50%;


  }
  </style>
</head>
<//link rel="stylesheet" type="text/css" href="style.css">
<//link rel="stylesheet" type="text/css" href="all.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="./js/bootstrap.min.js"></script>
<script src="./js/bootstrap.bundle.min.js"></script>
<body>


  <main>

  <iframe width="1205" height="753" src="https://www.youtube.com/embed/EffPnse4WQs?autoplay=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  </main>
  <div class="loader">
    <div class="loader-inner cube-transition">

    </div>
  </div>
  <script>

    $(document).ready(function(){
      $('main').hide();
    })
  </script>


</body>

</html>
